[Unit]
Description=Sleep then exits with status code 42

[Service]
Type=exec
ExecStart=/usr/bin/bash -c "sleep 15 && exit 42"
StandardOutput=journal
# See `man systemd.service` for more details
Restart=on-failure
RestartSec=5
RestartSteps=5
RestartMaxDelaySec=120

[Install]
WantedBy=default.target
