[Unit]
Description=Create the serve directory

[Service]
Type=oneshot
ExecStart=mkdir -p /home/%u/.local/share/workshop-files
RemainAfterExit=true
StandardOutput=journal
